node_modules/
dist/

.env
*.env

__pycache__/
*.py[cod]
*.pyo

venv/
.venv/
backend/venv/
ai/venv/

*.db
*.sqlite
*.sqlite3

.vscode/
.idea/

.DS_Store
Thumbs.db

# Local system/cache files
Microsoft/Windows/PowerShell/ModuleAnalysisCache
__MACOSX/
.DS_Store
._*
